<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linkiing.ble">

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 蓝牙 start ############################################################################ -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>

    <!-- 安卓9及以下可以使用模糊定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 安卓10，11需要使用精准定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 安卓12及以上，不需要定位-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- 蓝牙 end ############################################################################## -->

    <!-- 过滤不支持蓝牙的设备 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

</manifest>
