<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkiing.ble" >

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 定位 蓝牙需要 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 蓝牙 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- 过滤不支持蓝牙的设备 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

</manifest>
